<div class="container">
      <!-- <h2>Modal Example</h2>
     
        type="button"
        class="btn btn-info btn-lg"
        data-toggle="modal"
        data-target="#myModal"
      >
        Open Modal
      </button> -->
     
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                 <img style="margin: 0px;" src="/img/logo.png">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              
            </div>
           <!-- code dô đây nè -->
            <div class="modal-body">
               
               
               <!-- <label for="">To: </label><input type="text" id="mailsub"></br> -->
               <div class="form-group">
                <label class="bmd-label-floating">To</label>
                <input type="text" class="form-control" id="mailsub">
              </div>
               <!-- <label for="">Subject: </label><input type="text" id="mailsubject"></br> -->
               <div class="form-group">
                <label class="bmd-label-floating">Subject</label>
                <input type="text" class="form-control" id="mailsubject">
              </div>

               <!-- <label for="my-textarea">Text</label>
               <textarea id="my-textarea" name=""></textarea> -->
               <div class="form-group">
                <label>Content</label>
                <div class="form-group">
                  <label class="bmd-label-floating"> Some things...</label>
                  <textarea class="form-control" rows="5" id="my-textarea"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Send</button>
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>